.main_cart_div{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    min-height: 500px;
    
}

.head{
    color: gray;
    text-align: center;
}
.headRow{
    display: flex;
    justify-content: space-between;
    color: antiquewhite;
    border-bottom: 1px solid gray;
    padding: 0px 30px;
}
.cartDiv{
    border-bottom: 1px solid gray;
    margin-top: 20px;
    color:bisque;
    padding: 0px 20px;
}
.summary{
    height: 250px;
    width: 400px;
    /* border: 1px solid red; */
    position: relative;
    left: 800px;
    padding: 0px 10px;
    text-align: right;
    margin-top: 10px;
}
.sumText{
    color:bisque; 
}
.order{
    font-size: 30px;
    padding: 5px 15px;
    border-radius: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
.confirmation{
    border: 1px solid red;
    width: 500px;
    background-color: aliceblue;
    text-align: center;
    top: 50%;
    left: 50%;
    padding: 20px 0px;
    margin: 150px auto;
    
}
.confirmation button{
    font-size: 20px;
    background-color: black;
    color: bisque;
    border: none;
    padding: 5px 15px;
    margin-right: 15px;
    cursor: pointer;
}