.cont {
    background-color: rgb(153, 159, 165);
    padding: 1px 0px;
    box-shadow: 1px 1px 3px blanchedalmond;
    height: 60px;
    align-items: center;
    text-align: center;
    
   
}